/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    background-image: url('images/Windows.jpg'); /* Ganti 'gambar_background.jpg' dengan URL atau path ke gambar latar belakang Anda */
    background-size: cover; /* Untuk mengisi seluruh area body dengan gambar */
    background-position: center; /* Untuk mengatur posisi gambar latar belakang di tengah body */
    background-repeat: no-repeat; /* Agar gambar latar belakang tidak diulang */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: transparent;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    font-size: 24px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff5733;
}

main {
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #f0f0f0;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    color:#f0f0f0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

marquee {
    color: #ff5733;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}
